@using Connect.Koi;
@{
    var cats = Content.Categories;
}
<div class="faq-category-wrapper">
    <ul>
        <li @Koi.Class("all='faq-category-element' bs3='btn btn-primary' bs4,oth='btn btn-outline-primary'") data-filter="nofilter">
            @App.Resources.LabelShowAll
        </li>
        @foreach (var c in cats)
        {
            <li @Koi.Class("all='faq-category-element sc-element' bs3='btn btn-primary' bs4,oth='btn btn-outline-primary'") data-filter="@c.Key">
                @Edit.Toolbar(c, actions: "edit")
                @c.Name
            </li>
        }
    </ul>
</div>