@using Connect.Koi;
<div class="co-container-outer app-@Dnn.Module.ModuleID">
    <div class="co-container-inner co-accordion-wrapper">

    @if(Permissions.UserMayEditContent)
    {
      <div id="setting-wrapper" class="setting-wrapper transform">
        <div id="setting-btn" style="background-image: url(@App.Path/assets/gear.png)"></div>
        <div class="Setting-Title">
          <h5>@App.Resources.MenuTitle</h5>
          <small>@App.Resources.OnlyAdminVisible</small>
        </div>
        <div class="setting-item">
          <div class="row">
            <div class="col-6">
              @App.Resources.ManageConfiguration
            </div>
            <div class="col-6">
              @Edit.Toolbar(Content)
            </div>
          </div>
        </div>
        <div class="setting-item">
          <div class="row">
            <div class="col-6">
                @App.Resources.ManageCategories
            </div>
            <div class="col-6">
              @Edit.Toolbar(toolbar: new object[] {
                  new {
                      showCondition = true,
                      command = new {
                          action = "contentitems",
                          contentType= "Category"
                      }
                  }
              }, settings: new { hover="none", show = "always" })
            </div>
          </div>
        </div>
        <div class="setting-item">
          <div class="row">
            <div class="col-6">
                @App.Resources.ManageQuestions
            </div>
            <div class="col-6">
              @Edit.Toolbar(toolbar: new object[] {
                  new {
                      showCondition = true,
                      command = new {
                          action = "contentitems",
                          contentType= "Question"
                      }
                  }
              }, settings: new { hover="none", show = "always" })
            </div>
          </div>
        </div>
        <div class="setting-item">
          <div class="row">
            <div class="col-6">
                @App.Resources.CreateQuestion
            </div>
            <div class="col-6">
              @Edit.Toolbar(toolbar: new object[] {
                  new {
                      showCondition = true,
                      command = new {
                          action = "new",
                          contentType= "Question"
                      }
                  }
              }, settings: new { hover="none", show = "always" })
            </div>
          </div>
        </div>
        <div class="setting-item">
          <div class="row">
            <div class="col-12">
                @App.Resources.EditModeHint
            </div>
          </div>
        </div>
      </div>
      <script>
        $("#setting-btn").click(function() {
          $('#setting-wrapper').toggleClass('active');
        });
      </script>
    }

    @{
        var cats = Content.Categories;
        var questions = AsDynamic(App.Data["Question"])
                .Where(q => ((IEnumerable<dynamic>)q.Category)
                .Any(qc => ((IEnumerable<dynamic>)cats)
                .Any(c => c.Key == qc.Key)));

        if (Content.SortOrder == "DESC-id-ASC")
        {
            questions = questions.OrderByDescending(q => q.Priority).ThenBy(q => q.EntityId);
        }
        else if (Content.SortOrder == "DESC-id-DESC")
        {
            questions = questions.OrderByDescending(q => q.Priority).ThenByDescending(q => q.EntityId);
        }
        else if (Content.SortOrder == "DESC-title-ASC")
        {
            questions = questions.OrderByDescending(q => q.Priority).ThenBy(q => q.Title);
        }
    }

    @if(App.Settings.UseCategories)
    {
        if (cats.Count > 1)
        {
            <div class="faq-category-wrapper">
                <ul>
                    <li @Koi.Class("all='faq-category-element' bs3='btn btn-primary' bs4,oth='btn btn-outline-primary'") data-filter="nofilter">
                        @App.Resources.LabelShowAll
                    </li>
                    @foreach (var c in cats)
                    {
                        <li @Koi.Class("all='faq-category-element sc-element' bs3='btn btn-primary' bs4,oth='btn btn-outline-primary'") data-filter="@c.Key">
                            @Edit.Toolbar(c, actions: "edit")
                            @c.Name
                        </li>
                    }
                </ul>
            </div>
        }
    }

    <div class="question-wrapper-outer">
        <div class="question-wrapper">
            @foreach (var accord in questions)
            {
                var categories = ((IEnumerable<dynamic>)accord.Category).Select(x => x.Key);
                var initiallyExpanded = accord.InitiallyExpanded ?? false;

                <div class="co-accordion-item sc-element" data-filterelem="@Json.Encode(categories)">
                    @Edit.Toolbar(accord)
                    <div id="a-@accord.EntityId" class="co-accordion-title @(initiallyExpanded ? "active" : "")" sc-element">
                        <h2 class="@(!String.IsNullOrEmpty(accord.Icon) || 1 == 1 ? "" : "co-no-icon")">
                            @if(Permissions.UserMayEditContent && DotNetNuke.Common.Globals.IsEditMode())
                            {
                                <small class="faq-admin-msg">[@accord.InternalTitle]</small><br />
                            }
                            <span>
                                @if(!String.IsNullOrEmpty(accord.Icon))
                                {
                                    <i class="co-icon fas @accord.Icon" aria-hidden="true"></i>
                                } else {
                                    <i class="co-icon fas fa-question-circle" aria-hidden="true"></i>
                                }
                            </span>

                            @accord.Title.Replace("\n","<br />")

                            @if(Permissions.UserMayEditContent && DotNetNuke.Common.Globals.IsEditMode())
                            {
                                <div class="faq-admin-msg">
                                    <small>Prio: @(accord.Priority),</small>
                                    @if (App.Settings.UseCategories) {
                                        <small>
                                            Cat:
                                            @foreach (var c in accord.Category) {
                                                @c.Name
                                            }
                                        </small>
                                    }
                                </div>
                            }
                        </h2>
                    </div>

                    @* prevent adding content if still showing the demo-item - this is done by only adding the class as needed *@
                    <div class="co-accordion-content" style="@(initiallyExpanded ? "display:block;" : "")">
                        @((!String.IsNullOrEmpty(accord.Text)) ? Html.Raw("<div>" + accord.Text + "</div>") : "")
                    </div>
                </div>
            }
        </div>
    </div>

    </div>
</div>

<script src="@App.Path/dist/app-bundle.min.js" data-enableoptimizations="true" ></script>
<script>
    new faq.App(@Dnn.Module.ModuleID);
</script>