@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@* --- This is the Bootstrap5 Edition of the Files --- *@
@{
  // Get some helper commands for later on
  var helpers = CreateInstance("../shared/Helpers.cs");

  // Toolbar Configurations for later
  var mainToolbar = Kit.Toolbar.Default()
    .Data("Question", ui: "pos=2");
  
  // Toolbar to manage categories
  var catToolbar = Kit.Toolbar.Empty()
    .Settings(hover: "left")
    .Data("Category");

  // Toolbar without Layout Button
  var qToolbar = Kit.Toolbar.Default().Layout("-");
  
  // query whether BS5 or BS4 for Class
  var isBs5 = Kit.Css.Is("bs5");
}

<div class="app-faq4-js-@CmsContext.Module.Id position-relative" @mainToolbar.For(Content)>
	<div class="app-faq4-wrapper" @Edit.Attribute("quick-edit-config", new { modules = new {  enable = true }})>
    @* Display the categories *@
    @if (Settings.UseCategories && Content.Categories.Count > 1) {
			<div class="app-faq4-category-wrapper mb-3" @catToolbar>
        <ul class="px-0">
          <li class="btn btn-outline-primary" data-filter="nofilter">
            @Resources.LabelShowAll
          </li>
          @foreach (var c in Content.Categories) {
            <li class="btn btn-outline-primary" data-filter="@c.Key">
              @c.Name
            </li>
          }
        </ul>
      </div>
    }
    
    @* Add some space for toolbar if no categories shown *@
    @if (Edit.Enabled && !Settings.UseCategories) {
      <div class="py-4"></div>
    }

    @* List the questions *@
    <div class="app-faq4-question-wrapper accordion accordion-flush" @Edit.Attribute("quick-edit-config", new { modules = new {  enable = true }})>
       @foreach (var q in AsList(Data["Questions"])) {

        // get the categories for interactive (JavaScript) filtering
        var qCats = AsList(q.Categories as object).Select(x => x.Key);
        var initiallyExpanded = Kit.Convert.ToBool(q.InitiallyExpanded, fallback: false);
        var icon = Text.First(q.Icon, "fa-question-circle");     

        // Class for BS5 or BS4 
        var bsToggleAttr = isBs5 ? "data-bs-toggle" : "data-toggle";
        var bsTargetAttr = isBs5 ? "data-bs-target" : "data-target";
        var marginRight = isBs5 ? "me-3" : "mr-3";

        <div class="accordion-item" data-filterelem="@Kit.Json.ToJson(qCats)" @qToolbar.For(q)>
          <h2 class="accordion-header" id="a-@CmsContext.Module.Id-@q.EntityId">
            <button class='accordion-button @(initiallyExpanded ? "" : "collapsed")' @helpers.AdminHelperLabel(q) type="button" @bsToggleAttr="collapse" @bsTargetAttr="#a-@q.EntityId" aria-expanded="true" aria-controls="a-@q.EntityId">
              <span><i class="@marginRight co-icon fas @icon" aria-hidden="true"></i></span>
              @Tags.Nl2Br(q.Question)
            </button>
          </h2>
          <div id="a-@q.EntityId" class='accordion-collapse collapse @(initiallyExpanded ? "show" : "")' aria-labelledby="a-@q.EntityId">
            <div class="accordion-body" data-accordion-child="@q.EntityId">
              @Kit.Render.All(q, field: "AnswerInnerContent", merge: q.Answer)
            </div>
          </div>
        </div>
      }
    </div>

	</div>
</div>

@Html.Partial("./Assets.cshtml")