@inherits AppCode.Razor.AppRazor
@using System.Linq
@using ToSic.Razor.Blade
@using AppCode.Data

@* --- This is the Bootstrap5 Edition of the Files --- *@
@{
  // The main configuration comprises the substance of the current module.
  var config = As<ViewConfiguration>(MyItem);

  var categories = config.Categories;

  // Toolbar Configurations for later
  var mainToolbar = Kit.Toolbar.Default()
    .Data("Question", tweak: b => b.Position(2));
  
  // Toolbar to manage categories
  var catToolbar = Kit.Toolbar.Empty()
    .Settings(hover: "left")
    .Data("Category");

  // Toolbar without Layout Button
  var qToolbar = Kit.Toolbar.Default().Layout("-").Delete();
  
  // query whether BS5 or BS4 for Class
  var isBs5 = Kit.Css.Is("bs5");
}

<div class="app-faq4-js-@UniqueKey position-relative" @mainToolbar.For(config)>
	<div class="app-faq4-wrapper" @Kit.Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
    @* Display the categories *@
    @if (App.Settings.UseCategories && categories.Count() > 1) {
			<div class="app-faq4-category-wrapper mb-3" @catToolbar>
        <ul class="px-0">
          <li class="btn btn-outline-primary" data-filter="nofilter">
            @App.Resources.LabelShowAll
          </li>
          @foreach (var categorie in categories) {
            <li class="btn btn-outline-primary" data-filter='@categorie.Key'>
              @categorie.Name
            </li>
          }
        </ul>
      </div>
    }
    
    @* Add some space for toolbar if no categories shown *@
    @if (MyUser.IsContentAdmin && !App.Settings.UseCategories) {
      <div class="py-4"></div>
    }
    @* List the questions *@
    <div class="app-faq4-question-wrapper accordion accordion-flush" @Kit.Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
      
       @foreach (var question in AsList<Question>(MyData["Questions"]) ) {

        // get the categories for interactive (JavaScript) filtering
        var qCats = question.Categories.Select(x => x.Key);
        var initiallyExpanded = question.InitiallyExpanded;
        var icon = Text.First(question.Icon, "fa-question-circle");     

        // Class for BS5 or BS4 
        var bsToggleAttr = isBs5 ? "data-bs-toggle" : "data-toggle";
        var bsTargetAttr = isBs5 ? "data-bs-target" : "data-target";
        var marginRight = isBs5 ? "me-3" : "mr-3";

        <div class="accordion-item" data-filterelem="@Kit.Json.ToJson(qCats)" @qToolbar.For(question)>
          <h2 class="accordion-header" id="a-@UniqueKey-@question.Id">
            <button class='accordion-button @(initiallyExpanded ? "" : "collapsed")' @AdminHelperLabel(question) type="button" @bsToggleAttr="collapse" @bsTargetAttr="#a-@question.Id" aria-expanded="true" aria-controls="a-@question.Id">
              <span><i class="@marginRight co-icon fas @icon" aria-hidden="true"></i></span>
              @Tags.Nl2Br(question.Question)
            </button>
          </h2>
          <div id="a-@question.Id" class='accordion-collapse collapse @(initiallyExpanded ? "show" : "")' aria-labelledby="a-@question.Id">
            <div class="accordion-body" data-accordion-child="@question.Id">
              @question.Html("Answer")
            </div>
          </div>
        </div>
      }
    </div>
	</div>
</div>

@Html.Partial("./Assets.cshtml")